In [1]:
'2'==2

False

In [3]:
2.0 == 2

True

In [4]:
3!=3.0

False

In [6]:
[1,2,3] == [1.0,2,3.0]

True

In [7]:
[1,2-1,3]

[1, 1, 3]

In [8]:
1<2 and 3>5

False

In [12]:
9>2 or 'add'>'you'

True

In [16]:
1<2 and 4<2 or 2<3

True

In [17]:
not 2==3

True

In [20]:
2<3>10

False

### Control flow

In [26]:
x=7
y=4
if x<y:
    print('yes')
elif x==y:
    print('equal')
elif x==7: 
    print("I like trains.")
else:
    print('no')

I like trains.

### For loops

In [1]:
my_iterable = [1,2,3]
for item_name in my_iterable:
    print(item_name)

1
2
3

In [4]:
my_iterable = ['jaś', 'kacperek','judasz']
for item in my_iterable:
    print(item)

jaś
kacperek
judasz

In [19]:
my_iterable = list(range(11))
for item in my_iterable:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [20]:
for num in my_iterable:
    #check for even numbers
    if num%2==0:
        print(num)
    else:
        print(f'Odd number: {num}')

0
Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9
10

In [21]:
mylist = list(range(11))
listsum = 0
for num in mylist:
    listsum=listsum+num
print(listsum)

55

In [22]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [23]:
# if i don't need the variable
for _ in 'Hello World':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [24]:
# iterating through tuple
mylist = [(1,2),(3,4),(5,6),(7,8)]
len(mylist)

4

In [25]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [26]:
# tuple unpacking
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [27]:
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [32]:
d={'k1':1,'k2':2,'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [33]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [34]:
for key,value in d.items():
    print(value)

1
2
3

In [35]:
for val in d.values():
    print(val)

1
2
3

### While loops

In [36]:
x=0
while x<5:
    print(f'The current value of x is {x}')
    x=x+1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [39]:
x=0
while x<5:
    print(f'The current value of x is {x}')
    x+=1
else: 
    print('Loop finished')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
Loop finished

In [42]:
x=[1,2,3,4]
for item in x:
    #comment
    pass #for example for avoiding errors while - placeholder
print('end of my script')

end of my script

In [45]:
mystring = "Sammy"
for letter in mystring:
    if letter == 'a':
        continue
    print (letter)

S
m
m
y

In [46]:
mystring = "Sammy"
for letter in mystring:
    if letter == 'a':
        break
    print (letter)

S

### Useful operators

In [48]:
mylist=[1,2,3]

In [51]:
for num in range(2,11,2):
    print(num)

2
4
6
8
10

In [54]:
list(range(-4,11,2))

[-4, -2, 0, 2, 4, 6, 8, 10]

In [56]:
index_count=0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count+=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [58]:
word ='abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [61]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300,400]

In [62]:
for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [63]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [64]:
'x' in [1,2,3]

False

In [65]:
'x' in ['x','y','z']

True

In [67]:
'a' in 'a world'

True

In [68]:
'mykey' in {'mykey':123}

True

In [70]:
d= {'mykey':123}

123 in d.keys()

False

In [71]:
123 in d.values()

True

In [72]:
mylist=[10,20,30,40,100]

In [73]:
min(mylist)

10

In [74]:
max(mylist)

100

### Random library

In [75]:
from random import shuffle # from library "random" import "shuffle" function

In [76]:
mylist=[1,2,3,4,5,6,7]

In [77]:
shuffle(mylist) # inplace function - operates on the list- thre is no output

In [78]:
mylist

[3, 2, 5, 7, 4, 1, 6]

In [81]:
from random import randint

In [82]:
randint(0,100)

96

### Input

In [94]:
result = float(input('Enter a number here: '))

Enter a number here: 7

In [95]:
result

7.0

### List Comprehensions

In [3]:
mystr = 'hello'
mylist = []
for letter in mystr:
    mylist.append(letter)

In [5]:
mylist

['h', 'e', 'l', 'l', 'o']

In [7]:
mylist = [letter for letter in mystr]
mylist

['h', 'e', 'l', 'l', 'o']

In [8]:
mylist = [x for x in 'word']
mylist

['w', 'o', 'r', 'd']

In [12]:
mylist = [num for num in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
mylist = [num**2 for num in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
mylist = [x for x in range(0,11) if x%2==0]
mylist

[0, 2, 4, 6, 8, 10]

In [16]:
celcius = [0,10,20,34.5]

farenheit = [(9/5*temp + 32) for temp in celcius]
farenheit

[32.0, 50.0, 68.0, 94.1]

In [17]:
# shorter, but less readable
results = [x if x%2==0 else 'ODD' for x in range(0,11) ]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [19]:
mylist =[]

for x in [2,4,6]:
    for y in [1,10,100]:
        mylist.append(x*y)
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [20]:
# shorter, but less readable
mylist = [x*y for x in [2,4,6] for y in [1,10,100]]
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

### Assessment Test

Use for, .split(), and if to create a Statement that will print out words that start with 's':

In [47]:
st = 'Sam Print only the words that start with s in this sentence'

In [50]:
for word in st.split():
    if word[0].lower() == "s":
        print(word)

Sam
start
s
sentence

Use range() to print all the even numbers from 0 to 10.

In [35]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.

In [51]:
mylist = [x for x in range(1,51) if x%3 == 0] 
mylist

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

Go through the string below and if the length of a word is even print "even!"

In [38]:
st = 'Print every word in this sentence that has an even number of letters'

In [53]:
for word in st.split():
    if len(word)&2 == 0:
        print(word + ' is even!')
    else:
        print(word + " is odd!")

Sam is odd!
Print is even!
only is even!
the is odd!
words is even!
that is even!
start is even!
with is even!
s is even!
in is odd!
this is even!
sentence is even!

Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [55]:
for num in range(1,101):
    if num%3 == 0 and num%5 == 0:
        print("FizzBuzz")
    elif num%3 == 0:
        print("Fizz")
    elif num%5 == 0:
        print("Fizz")
    else:
        print(num)

1
2
Fizz
4
Fizz
Fizz
7
8
Fizz
Fizz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Fizz
Fizz
22
23
Fizz
Fizz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Fizz
Fizz
37
38
Fizz
Fizz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Fizz
Fizz
52
53
Fizz
Fizz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Fizz
Fizz
67
68
Fizz
Fizz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Fizz
Fizz
82
83
Fizz
Fizz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Fizz
Fizz
97
98
Fizz
Fizz

Use List Comprehension to create a list of the first letters of every word in the string below:

In [57]:
st = 'Create a list of the first letters of every word in this string'

In [58]:
mylist = [word[0] for word in st.split()]
mylist

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']