### Lists

In [24]:
my_list =[1,2,3]

In [25]:
my_list2 = ['String', 100, 23.3]

In [26]:
len(my_list2)

3

In [27]:
my_list2[0]

'String'

In [28]:
mylist =  my_list + my_list2

In [29]:
mylist

[1, 2, 3, 'String', 100, 23.3]

In [30]:
mylist[0] = mylist[3].upper()

In [31]:
mylist

['STRING', 2, 3, 'String', 100, 23.3]

In [32]:
mylist.append('faggot')

In [33]:
mylist

['STRING', 2, 3, 'String', 100, 23.3, 'faggot']

In [34]:
mylist.pop()

'faggot'

In [35]:
mylist

['STRING', 2, 3, 'String', 100, 23.3]

In [36]:
popped_item = mylist.pop()

In [37]:
popped_item

23.3

In [38]:
mylist.pop(0)

'STRING'

In [39]:
mylist

[2, 3, 'String', 100]

In [40]:
newlist = ['a','e','x','b','c']
numlist = [4,2,7,4,8,1]

In [43]:
newlist.sort()
numlist.sort()

In [48]:
print(newlist, numlist)

['a', 'b', 'c', 'e', 'x'] [1, 2, 4, 4, 7, 8]

In [49]:
newlist.reverse()

In [50]:
newlist

['x', 'e', 'c', 'b', 'a']

### Dictionaries
unordered mappings for storing objects. 
{key:value}

In [51]:
mydict= {'key1':'value1','key2':'value2'}

In [52]:
mydict

{'key1': 'value1', 'key2': 'value2'}

In [53]:
mydict['key1']

'value1'

In [54]:
prices_lookup ={'apple':2.99, 'chocolate':3.12,'milk':5.2}

In [55]:
prices_lookup['milk']

5.2

In [61]:
d = {'k1':123, 'k2':[1,1,2],'k3':{'insideKey':100}}

In [62]:
d['k2']

[1, 1, 2]

In [63]:
d['k3']['insideKey']

100

In [71]:
d = {'k1':['a','b','c']}

In [72]:
d['k1'][-1].upper()

'C'

In [73]:
d

{'k1': ['a', 'b', 'c']}

In [74]:
d['k3']=300

In [75]:
d

{'k1': ['a', 'b', 'c'], 'k3': 300}

In [76]:
d['k1']='NEW VALUE'

In [77]:
d

{'k1': 'NEW VALUE', 'k3': 300}

In [80]:
d = {'k1':['a','b','c']}
d['k2'] = 200

In [83]:
print(d.keys(), d.values())

dict_keys(['k1', 'k2']) dict_values([['a', 'b', 'c'], 200])

### Tuples

In [84]:
t=(1,2,3)
mylist=[1,2,3]

In [85]:
type(t)

tuple

In [86]:
type(mylist)

list

In [87]:
t=(1,'one','fag',[2,3,4])

In [88]:
t[-1]

[2, 3, 4]

In [89]:
t = ('a','a','b')

In [91]:
t.count('a')

2

In [92]:
t.index('a')

0

### Sets
Unordered collections of unique elements

In [93]:
myset = set()

In [94]:
myset

set()

In [95]:
myset.add(1)

In [96]:
myset

{1}

In [97]:
myset.add('3')

In [98]:
myset

{1, '3'}

In [99]:
myset.add(2)

In [100]:
myset

{1, 2, '3'}

In [102]:
myset.add(2)

In [103]:
myset

{1, 2, '3'}

In [104]:
lst = [1,2,3,5,2,3,4,2,2,1,2,3,4,5,2,3,1,2,3]

In [105]:
set(lst)

{1, 2, 3, 4, 5}

### Booleans

In [106]:
1>3

False

In [107]:
1==1

True

In [108]:
b = None #placeholder

In [110]:
b #output is empty

### I\O

In [111]:
# just in Jupyter notebook

In [157]:
%%writefile myfile.txt
Hello this is a text file
this is the second line

this is the third line

Overwriting myfile.txt

In [158]:
myfile = open('myfile.txt')

In [159]:
myfile = open('nofile_myfile.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'nofile_myfile.txt'

In [160]:
pwd #print working directory

'C:\\Users\\Przemek\\Desktop\\Przemek\\Programming\\Python Course\\Notebooks'

In [161]:
myfile = open('myfile.txt')

In [162]:
myfile.read()

'Hello this is a text file\nthis is the second line\n\nthis is the third line'

In [163]:

myfile.read() #cursor moves to the end of the file

''

In [164]:
myfile.seek(0) #reset cursor

0

In [165]:
contents = myfile.read()

In [166]:
myfile.seek(0)

0

In [167]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 '\n',
 'this is the third line']

In [168]:
myfile = open("C:\\Users\\Przemek\\Desktop\\Przemek\\Programming\\Python Course\\Notebooks\\myfile.txt")

In [169]:
myfile.close()

In [170]:
# when we don't want to worry about closing:

In [171]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [172]:
contents

'Hello this is a text file\nthis is the second line\n\nthis is the third line'

In [173]:
with open('myfile.txt', mode='r') as myfile: #shift+tab toggles info about function
    contents=myfile.read()

In [174]:
contents

'Hello this is a text file\nthis is the second line\n\nthis is the third line'

In [ ]:
#mode = 'r' for read, 'w' for write, 'a' for append